
  
.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  justify-content: center;
 transition: flex-direction 0.5s ease;
 border-radius: 4%;
 


}

.flex-container img{
  width: calc(20% - 5px);
  height: 250px;
  margin: 10px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;

}

.flex-container img:hover{
  transform: scale(1.2);
}

@media (max-width:768px) {
  .flex-container {
    flex-direction: column-reverse;
  }
}











